
.mainContainer {
    margin: 0;
    background-color: white;
}

#headercontainer{
    background-image: url("images/headertest.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    width : 100%;
    height: 800px;
}

#introcontainer{
    background-image: url("images/introCont.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width : 100%;
    height: 800px;
}

.introDiv{
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 255px;
    text-align: center;
    font-size: 34.5px;
}

.button1{
    padding-top: 140px;
    padding-left: 725px;
}
.scrolly{
    width: 100px;
    height: 50px;
}

#container1{
    margin: 0 auto;
    background-size: cover;
    padding-bottom: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 150px;
    content: "";
    display: table;
    clear: both;
    background-image: url("images/bgcont1.png");
    background-repeat: no-repeat;
}
.cont1-title{
    text-align: center;
    background-color:

}
.write-up{
    margin-top: 25px;
}
.card-text{
    font-size:20px;
}
.card-body{
    font-size:17px;
}
.slogan1{
    text-align: center;
    font-size: 25px;
    font-weight: 20000;
    color: rgb(92, 171, 219);
}
.paragraph{
    text-align: justify;
}
.left1{
    float: left;
    width: 25%;
    margin: 0 auto;
}

.legendTable {
    margin: 0 auto;
}

table,
.tdTitle{
    border: 2px solid #333;
    background-color: rgba(255, 255, 255, .75);
}

.regionsTitle{
    colspan: 2;
}

.legendTitle{
    font-size: 25px;
    text-align: center
}

.ceeColor{
    background-color: rgb(230,26,41);
    width: 10%;
}
.weColor{
    background-color: rgb(5, 169, 230);
}
.naanzColor{
    background-color: rgb(20, 73, 190);
}
.menaColor{
    background-color: rgb(145,90,142);
}
.lacColor{
    background-color: rgb(222, 188, 196);
}
.seaColor{
    background-color: rgb(252,185,8);
}
.eaColor{
    background-color: rgb(248,124,4);
}
.cisColor{
    background-color: rgb(99, 192, 159);
}
.ssaColor{
    background-color: rgb(57, 240, 119);
}


.graph{
    float: left;
    width: 75%;
    padding-left: 30px;
    margin: auto;
}

.button2{
    padding-left: 650px;
    padding-top: 500px;
}
.scrolly2{
    width: 100px;
    height: 50px;
}

#container2 {
    margin: 0 auto;
    background-size: cover;
    padding-bottom: 50px;
    padding-left: 125px;
    padding-right: 75px;
    padding-top: 150px;
    content: "";
    display: table;
    clear: both;
    background-image: url("images/bgcont2.png");
    background-repeat: no-repeat;
}
.write-up-happy{
    float: left;
    width: 25%;
    margin-top: 25px;
}
.disclaimer{
    color: rgb(242, 145, 126);
    text-align: center;
    font-weight: 20000;
}

.graph-happy{
    float: left;
    width: 75%;
    padding-left: 30px;
    padding-top: 30px;
    margin: auto;
}

.button3{
    padding-top: 600px;
    padding-left: 600px;
}

#container3 {
    margin: 0 auto;
    background-size: cover;
    padding-bottom: 80px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 150px;
    content: "";
    display: table;
    clear: both;
    background-image: url("images/bgcont3.png");
    background-repeat: no-repeat;

}

#writeupfac{
    text-align: justify;
}

.write-up-factors{
    float: left;
    width: 25%;
    margin-top: 45px;

}

.graph-factors{
    float: left;
    width: 75%;
    padding-top: 45px;
    padding-left: 30px;
    margin: auto;
}
.button4{
    padding-top: 500px;
    padding-left: 650px;
}

#container4 {
    margin: 0 auto;
    background-size: cover;
    padding-bottom: 40px;
    padding-left: 90px;
    padding-right: 75px;
    padding-top: 180px;
    content: "";
    display: table;
    clear: both;
    background-image: url("images/bgcont4.png");
    background-repeat: no-repeat;
    background-position: center;
}

.write-up-radar{
    float: left;
    width: 35%;
    margin-top: 25px;
}
.graph-radar{
    float: left;
    width: 65%;
    padding-left: 40px;
}
.button5{
    padding-top: 50px;
    padding-left: 640px;
}

#container5 {
    margin: 0 auto;
    background-size: cover;
    padding-bottom: 40px;
    padding-left: 200px;
    padding-right: 75px;
    padding-top: 150px;
    content: "";
    display: table;
    clear: both;
    background-image: url("images/bgcont5.png");
    background-repeat: no-repeat;
}

.write-up-corr{
    float: left;
    width: 35%;
    margin-top: 150px;
}
.graph-corr{
    float: left;
    width: 65%;
    padding-left: 40px;
}

.card-text2{
    font-size: 35px;
}

.button6{
    padding-top: 50px;
    padding-left: 530px;
}

#conccontainer{
    background-image: url("images/conclusion.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width : 100%;
    height: 800px;
}

.concDiv{
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 255px;
    text-align: center;
    font-size: 40px;
}